* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Averta CY, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    position: relative;
}

.title {
    font-size: 25px;
    margin-bottom: 1rem;
}

.empty-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.empty-box p {
    font-size: 25px;
    margin-top: 1rem;
}

.left-back {
    position: absolute;
    top: 0.5rem;
    padding: 1rem;
    left: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}