* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.show-container {
    width: 100%;
    --box-shadow: 5px 2px 30px hsla(257, 8%, 83%, .3);
}

.show-content {
    width: 100%;
    padding: 0.5rem 0.5rem 0px 0.5rem;
}
.show-item-pizza{
    
}