* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.show-container {
    width: 100%;
    margin-bottom: 30px;
    --box-shadow: 5px 2px 30px hsla(257, 8%, 83%, .3);
}

.show-content {
    width: 100%;
    padding: 0.5rem 0.5rem 0px 0.5rem;
}

.show-pizza-content {
    display: flex;
    flex-direction: column;
}

.show-pizza-content li {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    color: black;
    display: block;
}

.show-links {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.construc-pizza {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

.cons-pizza {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 14px;
    background: linear-gradient(140deg, rgba(255, 207, 0, .15), rgba(255, 207, 0, .3));
    width: 100%;
}

.cons-pizza span {
    font-size: 35px;
}

.cons-pizza p {
    font-size: 18px;
    margin-left: 10px;
}

.cons-pizza .link {
    color: white;
    font-size: 10px;
    background: #ffcf00;
    position: absolute;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: center;
    right: 0;
    bottom: 0;
    padding: 7px 8px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 40%;
}

.half-pizza {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

.half-piz {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 14px;
    background: linear-gradient(140deg, rgba(0, 220, 255, .15), rgba(0, 220, 255, .3));
    width: 100%;
}

.half-piz span {
    font-size: 35px;

}

.half-piz p {
    font-size: 18px;
    margin-left: 10px;
}

.half-link {
    color: white;
    font-size: 10px;
    background: #00dcff;
    position: absolute;
    display: flex;
    align-items: center;
    font-weight: 800;
    justify-content: center;
    right: 0;
    bottom: 0;
    padding: 7px 8px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 40%;
}

.show-item-pizza {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 1rem;
}

.show-item-img {
    width: 185px;
    height: 125px;
    display: flex;
}



.show-item-img .item-img {
    border-radius: 14px;

}

.show-item-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.show-item-title {
    font-size: 16px;
    font-weight: bold;
}

.show-item-description {
    font-size: 14px;
    color: #b5b5b5;
    ;
}

.show-item-price {
    display: flex;
    justify-content: space-between;
}

.item-price {
    color: #b5b5b5;
    font-size: 14px;
}

.item-price .price {
    margin-right: 0.2rem;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.item-add-btn {
    background-color: #ffcf00;
    padding: 0.15rem 0.65rem;
    color: white;
    font-size: 25px;
    border-radius: 14px;
    cursor: pointer;
}

.show-content-card-filtered {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0.5rem;
}

.show-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;
}

.card-img img {
    width: 100px;
}

.card-title {
    font-size: 14px;
    margin: 0.5rem 0;
}

.card-price {
    color: #b5b5b5;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.price-item {
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.add-btn {
    font-size: 14px;
    color: #fff;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: var(--warning-color);
    background-image: var(--warning-gradient);
    --warning-color: #ffcd73;
    --warning-gradient: linear-gradient(160deg, #ffcd73, #ffa02a);
    font-weight: 700;
    cursor: pointer;
}

body.modal-open {
    background-color: lightgray;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    width: 100%;
    height: auto;
    background-color: white;
    transition: bottom 0.5s;
    z-index: 1000;
}

.modal-open .modal {
    display: block;
}

.modal-content {
    position: relative;
    padding: 20px;
}

.drag-line {
    width: 40px;
    height: 4px;
    background-color: gray;
    margin: 20px auto;
    cursor: grab;
    border-radius: 2px;
}

.ProductMore_imageContainer img {
    width: 100%;
}

.ProductMore_details,
.ProductMore_actions {
    text-align: left;
    margin-top: 10px;
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 10px;
    /* border: 1px solid #888; */
    border-radius: 28px 28px 0px 0px;
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ProductMore_imageContainer {
    text-align: center;
    margin-bottom: 15px;
}

.ProductMore_image {
    max-width: 200px;
    height: auto;
}

.ProductMore_title {
    font-size: 24px;
    margin-bottom: 10px;
}

.ProductMore_description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.ProductMore_actions {
    text-align: center;
}

.ProductMore_priceAndAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductMore_price {
    font-size: 20px;
    font-weight: bolder;
}

.ProductMore_action {
    --primary-color: #1ad86b;
    --primary-gradient: linear-gradient(160deg, #1ad86b, #10b260);
    cursor: pointer;
    background: var(--primary-gradient);
    border: 0;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    padding: .75rem 1rem;
    width: 70%;
}